.button {
    width: 452px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
    display: block;
    line-height: 55px;
    background: #fff;
    color: #09acf8;
}